{% extends "base.html" %}

{% block content %}
  <h1>
    {{ boardgame.name }}
    <a href="{% url 'shop:boardgame-delete' pk=boardgame.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'shop:boardgame-update' pk=boardgame.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Publisher: ({{ boardgame.publisher.name }}, {{ boardgame.publisher.country }})</p>
  <h1>Authors
      {% if boardgame in user.boardgame.all %}
        <a href="{% url 'shop:toggle-boardgame-assign' pk=boardgame.id %}" class="btn btn-danger link-to-page">
          Delete me from this boardgame
        </a>
      {% else %}
        <a href="{% url 'shop:toggle-boardgame-assign' pk=boardgame.id %}" class="btn btn-success link-to-page">
          Assign me from this boardgame
        </a>
      {% endif %}
  </h1>
  <hr>
  <ul>
    {% for author in boardgame.authors.all %}
      <li>{{ author.username }} ({{ author.first_name }} {{ author.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
